<!DOCTYPE html>
<html>
<head>
  <title>Wylt</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- LOAD FONTS -->
  <script src="//use.typekit.net/cqc4bwd.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>

  <!-- FAVICON -->
  <%= favicon_link_tag 'favicon.ico' %>
  
</head>
<body>

<%= yield %>

</body>
</html>